**/.vscode
**/.vs
**/.idea
.worktrees/

**/.application
**/.solution
**/.nuget
**/*.user

**/[O-o]bj
**/[B-b]in
**/allure-results
**/TestResults
.artifacts

**/workspaceEnvironmentSettings.json
**/appsettings.dev.json
.secrets/

**/resource.??-??.xml
!**/resource.en-US.xml
**/data.??-??.json
!**/data.en-US.json
